body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul { list-style: none; padding-inline-start: 5px; }
a { color:blue; text-decoration: none;}
.bar {
    background-color: #f9f9fb;
    padding:15px;
    border-block-start: solid 1px #cdcdcd;
    border-block-end: solid 1px #cdcdcd;
}
.content {
    max-inline-size: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-inline-start: 1rem;
    padding-inline-end: 1rem;
}
.footer {
    min-block-size: 100px;
    border-block-start: solid 1px #cdcdcd;
}
.anchors {
    border-inline-start: solid 1px #cdcdcd;
    padding-inline-start: 15px;
}
.sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-inline-end: solid 1px #cdcdcd;
   
}

.logo-centralizada {
    max-inline-size: 100%;
    margin-top: 15px;
}

.bahiacomeco{
   margin: auto;
   display: block;
}
